apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-pagamentos-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: api-pagamentos
  template:
    metadata:
      labels:
        app: api-pagamentos
    spec:
      containers:
      - name: api-pagamentos
        image: mamazzei/api-pagamentos
        resources:
          limits:
            memory: "256Mi"
---
apiVersion: v1
kind: Service
metadata:
  name: api-pagamentos-service
spec:
  type: NodePort
  selector:
    app: api-pagamentos
  ports:
    - protocol: TCP     
      port: 6000
      targetPort: 6000
