apiVersion: apps/v1
kind: Deployment
metadata:
  name: lembretes-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: lembretes
  template:
    metadata:
      labels:
        app: lembretes
    spec:
      containers:
      - name: lembretes
        image: mamazzei/lembretes
        resources:
          limits:
            memory: "256Mi"
---
apiVersion: v1
kind: Service
metadata:
  name: lembretes-service
spec:
  type: NodePort
  selector:
    app: lembretes
  ports:
    - protocol: TCP     
      port: 4000
      targetPort: 4000
